<aside class="sidebar">
  <div class="container">
    <!-- <div class="sidebar-about"> -->
      <!-- <h1>{{ .Site.Title }}</h1> -->

      <!-- {{ with .Site.Params.description }}
      <p class="lead">{{.}}</p>
      {{end}} -->
    <!-- </div> -->

    <nav>
      <ul class="sidebar-nav">
        <li>
          <a href="{{ .Site.BaseURL }}">トップ</a>
        </li>
        {{ range .Site.Menus.main -}}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </nav>

    <section class="social-icons">
      {{ range $item := .Site.Params.socialIcons }}
      <a href="{{ $item.url }}" rel="me" title="{{ $item.title }}" target="_blank">
        <i class="fab {{ $item.icon }}" aria-hidden="true"></i>
      </a>
      {{ end }}

      {{ partial "footer.html" . }}
    </section>
  </div>
</aside>
